version: '3.8'

services:
  ufld_dev:
    build: .
    image: ufld_ros:humble
    container_name: ufld_container
    network_mode: "host" 
    ipc: host
    pid: host
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all
    
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./workspace:/root/ros2_ws/src
    
    command: tail -f /dev/null
    stdin_open: true
    tty: true
